# Database
DATABASE_URL=mysql://user:password@localhost:3306/database-name

# SMTP
SMTP_URL=smtp://username@gmail.com:password@smtp.gmail.com:465

# Better Auth
BETTER_AUTH_URL=http://localhost:3000

# Server (optional)
MAX_FILE_SIZE=1_000_000
MIN_FILE_SIZE=10_000
UPLOAD_DIR=public
PORT=3000

# Better Auth (optional)
BETTER_AUTH_SECRET=aJEj11jdjesEdzi8AuGGA2G4FzZ9YbWA
BETTER_AUTH_ACCEPT_METHODS=['POST', 'GET']
BETTER_AUTH_COOKIE_CACHE_TIMEOUT=900
BETTER_AUTH_SESSION_EXPIRES_IN=3600

# GitHub (optional)
GITHUB_CLIENT_SECRET=example_secret_1234567890abcdef
GITHUB_CLIENT_ID=example123456789

# Axios (optional)
AXIOS_REQUEST_TIMEOUT=5000

# Environent (optional)
NODE_ENV=development
