JWT_SECRET=6eQdRzYx8P2mNfK4vJcW9tHsA7LgEbUiX5rFyD3kZaVnCpM1oRwT8hGsY2qBxL9eJ
DATABASE_URL=mysql://user:password@localhost:3306/database-name
JWT_EXPIRES_IN=3600000
NODE_ENV=development
PORT=3000
SALT=8
