JWT_SECRET=6eQdRzYx8P2mNfK4vJcW9tHsA7LgEbUiX5rFyD3kZaVnCpM1oRwT8hGsY2qBxL9eJ
DATABASE_URL=mysql://user:password@localhost:3306/database-name
BETTER_AUTH_SECRET=aJEj11jdjesEdzi8AuGGA2G4FzZ9YbWA
BETTER_AUTH_URL=http://localhost:3000
SMTP_PASSWORD=SMTP_PASSWORD
SMTP_HOST=smtp.gmail.com,
JWT_EXPIRES_IN=3600000
SMTP_EMAIL=SMTP_EMAIL
NODE_ENV=development
SMTP_PORT=465
PORT=3000
SALT=8
