# vercel
package-lock.json
**/*.tar.gz
**/*.trace
**/*.zip
**/*.tgz
**/*.log
**/*.bun
.vercel

# misc
public/*
!public/.gitkeep
.VSCodeCounter
.DS_Store
.vscode
*.pem

# local env files
.env.development.local
.env.production.local
.env.test.local
.env.local
.env

# debug
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# dependencies
/node_modules
.pnp.js
/.pnp

# production
/build
/server
dist

# next.js
/.next/
/out/

# prisma
/generated/prisma

# testing
/coverage

# database
*.db
reset-db.sql
