{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSameLine": true,
  "objectWrap": "collapse",
  "plugins": ["prettier-plugin-sql", "prettier-plugin-prisma"]
}
